.register-form {
    margin-top: 100px;
    background-color: rgb(231, 216, 77);
    width: 400px;
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form form button {
    width: 200px;
    height: 50px;
    background: #09214b;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    font-family: "Nunito Sans", sans-serif;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-top: 15px;
}

.register-form form button:hover {
    background: rgb(231, 216, 77);
    color: #09214b;
    transform: translateY(-10px);
    border: 2px solid #111111;
}

.register-form h1 {
    color: #09214b;
    font-size: 30px;
    font-weight: 700;
    font-family: "Nunito Sans", sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

.register-form .form-group .register-input {
    background: #f8f9fa;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid #09214b;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Nunito Sans", sans-serif;
}

.register-form .form-group input {
    width: 200px;
    height: 40px;
}

.register-form .form-group input:focus {
    border: 1px solid #09214b;
    outline-color: rgb(0, 255, 255);
}

.register-form .label label {
    font-size: 16px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    color: #09214b;
    letter-spacing: 1px;
}